header{
    background-color: #0055b7;
    height: var(--header-height);
}
.logo > a > img{
    width: 155px;
    height: 58px;
    margin-top: 15px;
    margin-left: 15px;
}
.menu-principal{
    float: right;
    margin-right: 30px;
    margin-top: 20px;
}
.menu{
    list-style-type: none;
    overflow: hidden;
}
.menu > li{
    float: left;
}
.menu > li > a{
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
    color: white;
    padding: 0 10px 0 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.menu > li > a:hover{
    font-weight: 500;
}
